---
layout: default
---

<div class="">
    {% render "shared/navbar", metadata: site.metadata, navigation: site.data.navigation.main, profile: site.data.navigation.profile, page: page %}
</div>

<main>
    {{ content }}
</main>
